:root {
  --heading-black-color: #212121;
  --text-grey-color: #757575;
  --blue-color: #2196f3;
  --logo-black-color: #000000;
  --white-color: #ffffff;
  --white-color-opacity60: rgba(255, 255, 255, 0.6);
  --background-black-color: #2f303a;
  --background-grey-color: #f5f4fa;
  --border-header-color: #ececec;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--text-grey-color);
}

/* Сброс стилей по умолчанию от браузеров */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Общие стили для контейнера и секции */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Скрытые заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ЛОГО */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;

  color: var(--blue-color);
}

.logo-header {
  color: var(--logo-black-color);
}

.logo-footer {
  color: var(--white-color);
}

/* ХЕДЕР */

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header .logo {
  display: block;
  margin-right: 93px;
}

.nav-list {
  display: flex;
}

.header .contact-list {
  display: flex;
  margin-left: auto;
}

.nav-list,
.header .contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav-list-item:not(:last-child),
.header .contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link,
.header .contact-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  /* нижний padding 31 пиксель, потому что 1 пиксель занял border-bottom у хедера */
}

.nav-list .link {
  color: var(--heading-black-color);
}

.contact-list .link {
  color: inherit;
}

.nav-list .current-page,
.header .link:hover,
.header .link:focus {
  color: var(--blue-color);
}

/* ФУТЕР */

.footer {
  background-color: var(--background-black-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.address,
.footer .contact-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address {
  margin-bottom: 9px;

  font-style: normal;
  color: var(--white-color);
}

.footer .contact-list {
  color: var(--white-color-opacity60);
}

.footer .contact-list-item:nth-child(1) {
  margin-bottom: 9px;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--blue-color);
}

/* СТРАНИЦА СТУДИЯ */

/* секция "герой" */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-black-color);
}

.hero .container {
  text-align: center;
}

.studio-main-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero .button {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--blue-color);

  cursor: pointer;
}

/*  ЗАГОЛОВКИ СЕКЦИЙ */
/* секция "наши преимущества" */
/* секция "чем мы занимаемся" */
/* секция "наша команда" */

.advantages .title,
.our-works .title,
.our-team .title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-black-color);
}

/* секция "наши преимущества" */

.advantages-list {
  display: flex;
}

.advantages-list-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list .subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--heading-black-color);
}

.advantages-list .description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* секция "чем мы занимаемся" */

.our-works {
  padding-top: 0;
}

.our-works-list {
  display: flex;
}

.our-works-list-item {
  flex-basis: calc((100% - 60px) / 3);
}

.our-works-list-item:not(:last-child) {
  margin-right: 30px;
}

/* секция "наша команда" */

.our-team {
  background-color: var(--background-grey-color);
}

.our-team-list {
  display: flex;
}

.our-team-list-item {
  flex-basis: calc((100% - 90px) / 4);

  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-color);
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-content {
  padding: 30px 0;
}

.our-team-list-content .subtitle,
.our-team-list-content .description {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list-content .subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  color: var(--heading-black-color);
}

/* СТРАНИЦА ПОРТФОЛИО */

.portfolio-buttons-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons-list .button {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-black-color);
  background-color: var(--background-grey-color);

  cursor: pointer;
}

.portfolio-buttons-list .first-button,
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-list-content .title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--heading-black-color);
}

.portfolio-list-content .description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
